header {
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    color: aliceblue;
    text-shadow: 2px 1px 3px #000;
    padding: 1px;
    text-align: center;
    max-width: 600px;
    height: 160px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("https://c.tenor.com/JL9c5mVZnVMAAAAC/fridge-surprise.gif");
    background-position: 40% 0%;
}

main, footer {
    max-width: 600px;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    font-size: small;
}

.titleMain {
    color: rgb(97, 31, 142);
}